name: Build

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugin/openmediavault-owncloud-docker
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential debhelper devscripts fakeroot jq docker.io docker-compose

      - name: Build Debian package
        run: dpkg-buildpackage -b -us -uc -d

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openmediavault-owncloud-docker
          path: |
            ../*.deb
            ../*.buildinfo
            ../*.changes
